<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Disease Data</title>
  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&amp;family=Poppins:wght@400;500;600&amp;display=swap" />
  <link rel="stylesheet" href="/disease.css" />
  <!-- <link rel="stylesheet" href=".//Navigation_bar.css"> -->
</head>

<body>
  <h1>
    <a href="/dashboard" class="back">⬅️BACK</a>&nbsp;&nbsp;Get List of
    Diseases by entering the body part you want to search for.
  </h1>
  <section>
    <label for="full-name">Body Part: </label>
    <input type="text" name="body_part" id="body_part" placeholder="Body Part" required
      style="color: rgb(80, 78, 78)" />
    <input type="submit" value="Show Data" id="submit" onclick="data()" />
  </section>
  <ul id="myList">
    <li>
      <h1>DISEASES:</h1>
    </li>
  </ul>

  <script>
    var myList = document.getElementById("myList");
    function data() {
      myList.innerHTML = "";
      var body_part = document.getElementById("body_part").value;

      if (body_part === 'stomach') {
        var diseases = ["Gastritis", "Peptic Ulcer Disease(PUD)", "Stomach Flu", "Gastroparesis", "Stomach Cancer", "Constipation", "Gastroenteritis"]
        var i = diseases.length;
        for (var j = 0; j < i; j++) {
          var node = document.createElement("LI");
          var textnode = document.createTextNode(
            diseases[j]

          );
          node.appendChild(textnode);
          myList.appendChild(node);
        }
      }

      if (body_part === 'teeth') {
        var diseases = ["ToothAche", "Stained Teeth", "Cavities", "Cracked Teeth", "Sensitivity"]
        var i = diseases.length;
        for (var j = 0; j < i; j++) {
          var node = document.createElement("LI");
          var textnode = document.createTextNode(
            diseases[j]

          );
          node.appendChild(textnode);
          myList.appendChild(node);
        }
      }
      if (body_part === 'eye') {
        var diseases = ["Cataract", "Myopia", "Hypermetropia", "Glaucoma", "Macular Degeneration."]
        var i = diseases.length;
        for (var j = 0; j < i; j++) {
          var node = document.createElement("LI");
          var textnode = document.createTextNode(
            diseases[j]

          );
          node.appendChild(textnode);
          myList.appendChild(node);
        }
      }
      /*
            fetch(`https://healthwise.p.rapidapi.com/body/diseases/${body_part}`, {
              method: "GET",
              credentials: "omit",
              headers: {
                "x-rapidapi-host": "healthwise.p.rapidapi.com",
                "x-rapidapi-key":
                  "1c3194eaacmsh0679b7666062122p115ac7jsn58ae6ac30aa6",
              },
            })
              .then((response) => {
                response.json().then((res) => {
                  var i = res.data.result[0].causes.length;
                  for (var j = 0; j < i; j++) {
                    //  console.log(res.data.result[0].causes[j].illness);
                    diseases.push(res.data.result[0].causes[j].illness);
                    var node = document.createElement("LI");
                    var textnode = document.createTextNode(
                      res.data.result[0].causes[j].illness
                    );
                    node.appendChild(textnode);
                    myList.appendChild(node);
                  }
                })
                .catch((err) => {
                  var node = document.createElement("LI");
                  var textnode = document.createTextNode("No Diseases Found");
                  node.appendChild(textnode);
                  myList.appendChild(node);
                  alert(
                    "Choose among : | 1 | brain | 2 | eyes | 3 | ears | 4 | nose | 5 | lips | 6 |tongue | 7 | jaw | 8 | neck | 9 | esophagus | 10 | lung | 11 | heart | 12 | rightarm | 13 | leftarm | 14 | elbows | 15 | hands | 16 | fingers | 17 | liver | 18 | spleen | 19 | stomach | 20 | pancreas | 21 | gallbladder | 22 | kidneys | 23 | smallintestin | | 24 | colon | | 25 | bladder | | 26 | testicles | | 27 | vagina | | 28 | malegenital | 29 | femalegenital | | 30 | anus | | 31 | leftleg | 32 | right_leg | 33 | knees | 34 | foot | 35 | heel | 36 | toes |"
                  );
                });
              })
              .catch((err) => {
                console.error(err);
              });*/
    }
  </script>
</body>

</html>