<!--  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up/ Log In</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="loginPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="contianer">
        <div class="animated slideInLeft" id="square">    
            <div class="animated bounceInUp" id="rightSquare">
           </div>   
              <div class="animated bounceInDown" id="leftSquare">
                <div id="container">
                <h1 class="cta-title">Health<br/>Management<br/>Webapp </h1>
                <div class="login">
                    <h3>Sign up for free</h3>
                    <div class="google-box">
                        <div class="icon-container">
                          <i class="fab fa-google"></i>
                        </div>
                    <p class="p-sign"><a href="/auth/google" class="darked" style="color: white;">Sign Up With Google / Log In</a></p>
                    </div>
                </div>
              </div>   
           </div> 
              
         
        </div>
    </div>
  
</body>
</html>