<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="content-language" content="en-gb">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Sign In | Simple singi-in page </title>
<meta property="og:title" content="Sign In" />
<meta property="og:locale" content="en_IN" />
<meta name="description" content="Simple sign in page" />
<meta property="og:description" content="Simple sign in page" />
<link rel="canonical" href="https://sign-in.github.com/" />
<meta property="og:url" content="https://sign-in.github.com/" />
<meta property="og:site_name" content="Sign In" />
<script type="application/ld+json">
{"name":"Sign In","description":"Simple sign in page","@type":"WebSite","url":"https://sign-in.github.com/","headline":"Sign In"}</script>
<link rel="stylesheet" href="/loginPage.css"  />

</head>

<body>
    <div class="container">
        <div class="main sign-in">
            <div class="card">
                <div class="logo">

                </div>
                <div class="card-head">
                    <h2 class="header"></h2>
                </div>
                <div class="card-body">
                    <p>Health Management and Appointment web app, as the name of the 
                        project, suggests that this application provide users to manage and 
                        analyze their intake calories using a diet tracker feature which fetches 
                        the calories using an application programming interface (API) of the 
                        meal entered by the user and also provide a service/facility that the 
                        users could book an appointment in hospitals that are nearby to their 
                        entered location or from the list of hospitals provided by us from the 
                        database. 
                        Besides this, we also have provided a couple of features that the user 
                        could donate blood in blood banks nearby their location entered by 
                        them and users could make a scheduled list of the medicines 
                        according to their prescription. Instead of standing in front of long 
                        queues in hospitals, our web app could save time and manage as well.
                        </p>
                </div>
                <div class="card-footer">
                        <!-- <button class="btn">Sign In</button><p>Or</p> -->
                        <button class="btn"><a href="/auth/google" class="darked"> Sign Up With Google / Log In</a></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>