@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: left;
  min-height: 100vh;
  background: url("https://wallpapercave.com/wp/wp3105346.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.center-align {
  font-size: 35px;
}
.center {
  margin: 10px 450px;
}

table th {
  background-color: #326ad1;
}
table tr {
  align-content: center;
}
table th,
td {
  text-align: center !important;
  padding: 1vw;
}
.icon {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.card {
  padding: 2vw;
}
/* search style */

/* .container{
        margin-top: 500px;
    }*/
.darken-3 {
  margin-left: 20px;
}
.card-title {
  margin-left: 20px;
}
#item-name {
  margin-left: 20px;
}
.modi {
  margin-left: 20px;
}
.card {
  margin-top: 100px;
  margin: left 350px;
}
