* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif !important;
  /* color: white !important; */
}

body {
  font-family: "Nunito", sans-serif !important;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: radial-gradient(
      circle at 17% 77%,
      rgba(17, 17, 17, 0.04) 0%,
      rgba(17, 17, 17, 0.04) 50%,
      rgba(197, 197, 197, 0.04) 50%,
      rgba(197, 197, 197, 0.04) 100%
    ),
    radial-gradient(
      circle at 26% 17%,
      rgba(64, 64, 64, 0.04) 0%,
      rgba(64, 64, 64, 0.04) 50%,
      rgba(244, 244, 244, 0.04) 50%,
      rgba(244, 244, 244, 0.04) 100%
    ),
    radial-gradient(
      circle at 44% 60%,
      rgba(177, 177, 177, 0.04) 0%,
      rgba(177, 177, 177, 0.04) 50%,
      rgba(187, 187, 187, 0.04) 50%,
      rgba(187, 187, 187, 0.04) 100%
    ),
    linear-gradient(19deg, rgb(28, 117, 250), rgb(34, 2, 159));
  background-size: cover;
  font-size: 120%;
  text-align: center;
  color: bkack !important;
  /* background: url(./diseases.jpg) no-repeat center center fixed;
  background-size: cover; */
}
h1 {
  font-size: 3rem;
  color: white;
  position: relative;
  top: 0;
  margin: auto;
}
#form {
  max-width: 700px;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
}

.form-field {
  display: flex;
  margin: 0 0 1rem 0;
}

label,
input {
  width: 70%;
  padding: 0.5rem;
  box-sizing: border-box;
  justify-content: space-between;
  font-size: 1.1rem;
}
label {
  text-align: right;
  width: 30%;
  font-size: 2rem;
  color: white;
}
input {
  border: 2px solid #aaa;
  border-radius: 2px;
}

ul {
  list-style-type: none;
  /* max-width: 350px; */
  border-radius: 10px;
  /* height: auto; */
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: auto;
}
li {
  /* width: 100%; */
  background-color: #fcfcfc3b;
  /* font-size: 25px; */
  margin: 7px 0px;
  /* padding: 5px; */
  height: auto;
  text-align: center;
  padding: 2vh;
  color: white;
}
input#submit {
  margin: 2vw;
  width: 10rem;
  border: none;
  border-radius: 12px;
  color: darkblue !important;
  background-color: rgb(122, 191, 231) !important;
  transition: 0.7s ease;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06), 0px 6px 18px rgba(0, 0, 0, 0.06);
}
input#submit:hover {
  background-color: darkblue !important;
  color: rgb(122, 191, 231) !important;
}
.back {
  /* display: grid;
  place-content: center; */
  z-index: 2;
  /* width: 4vw; */
  /* height: auto; */
  font-size: 1.25rem;
  position: relative !important;
  text-decoration: none;
  background: rgb(122, 191, 231);
  /* top: 20px !important; */
  /* left: 30px !important; */
  border-radius: 5px;
  transition: 1s ease;
  padding: 1vh 1vw;
  color: darkblue !important;
  /* display: block; */
}
.back:hover {
  cursor: pointer !important;
  color: rgb(122, 191, 231) !important;
  background-color: darkblue !important;
}
